body {
  background-color: #3e4444; 
}

.custom-header-bg {
  background-color: #2b2b2b;
}

.glow-text {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 
               0 0 20px rgba(255, 255, 255, 0.4);
}

.custom-card {
  background-color: #555b5a;
  border-radius: 24px;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.serif-title, .serif-subtitle {
  font-family: 'Times New Roman', Times, serif;
}