body {
  background: radial-gradient(circle, #4e5454 0%, #3e4444 100%);
  color: white;
}

.custom-header-bg {
  background-color: #2b2b2b;
}

.custom-card {
  background-color: #555b5a;
  border-radius: 40px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.4);
  border: none;
}

.serif-title {
  font-family: 'Times New Roman', Times, serif;
}

.lh-lg {
  line-height: 1.8;
}

@media (max-width: 991px) {
  .custom-card {
    border-radius: 25px;
  }
}